<div class="container mt-10">
    <div class="row">
        <div class="col-lg-5 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">AGREGAR A PLAYLIST!</span>
                    <form class="mt-3" [formGroup]="listaForm" (ngSubmit)="agregarCancion()">
                        <div class="mb-3">
                            <input type="text" formControlName="nombre" class="form-control form-control-lg" placeholder="Nombre">
                            <div class="text-danger text-center mb-3"
                             *ngIf="listaForm.get('nombre')?.hasError('required') && listaForm.get('nombre')?.touched">
                                El nombre de la canción <b>es obligatorio</b>
                            </div>
                        </div>
                        <div class="mb-3 mt-3">
                            <input type="text" formControlName="autor" class="form-control form-control-lg" placeholder="Autor">
                            <div class="text-danger text-center mb-3"
                             *ngIf="listaForm.get('autor')?.hasError('required') && listaForm.get('autor')?.touched">
                                El nombre del autor <b>es obligatorio</b>
                            </div>
                        </div>
                        <div class="mb-3 mt-3">
                            <input type="number" formControlName="ano" class="form-control form-control-lg" placeholder="Año">
                        </div>
                        <div class="mb-3">
                            <button routerLink="/" class="btn btn-secondary btn-lg float-start">VOLVER</button>
                            <button type="submit" class="btn btn-success btn-lg float-end">AGREGAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
